/********************************/
/* NAVBAR & ITEMS */
/********************************/
.nav a:hover{
	text-decoration:none;
	
}
.nav a{
	color:#000000;
}
.nav{
	background-color:#FF0040;
	height:50px;
	margin-bottom:30px;
	border-bottom: solid 1px #000000;
}
.title{
	margin-bottom:0px;
	width:100%;	
	color: #000000;																			
}

.nav ul{
	margin:0;
	list-style:none;
	height:inherit;
	padding-left:0px;
}
.nav ul li{
	float:left;
	height:inherit;
	text-align:center;
	font-size:20px;
	line-height:45px;
	width:25%;
	cursor:pointer;
}

.nav ul li:active{
	/*background-color:#EBEBEB;*/
}
.mainbar{
	float:right;
	width:10%;
}
.sidebar{
	float:left;
	width:90%;
	height:20%;
}
.out{
	float:right;
	margin-right:5px;
	margin-top:5px;
}

.flag{
	margin:auto;
	text-align:center;	
}

.flag .desc{
	margin-top:0;
}

#chart{
	margin: 0 auto;
	left:0;
}
.arc path {
  stroke: #fff;
}


